@import "tailwindcss";

@theme {
  --color-primary: #1e1e24;
  --color-sidebar: #202222;
  --color-main: #191A1A;
}

@layer base {
  :root {
    @apply text-[rgba(255,255,255,0.87)] bg-main font-sans antialiased;
  }

  body {
    @apply m-0 min-h-screen text-white;
  }
}
